*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #218018;
    box-shadow: 0px 10px 10px gray;
    font-size: 24px;
}

.subtitle{
    color: gray;
    padding: 5px 0px 10px 0px;
}