*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{ height: 100%; }

body{
	min-height: 100%;
	align-items: center;
	max-width: 1920px;
	margin: auto;
	background: #ccc;
}

.fl { display: flex; }
.fl-col { flex-direction: column; }
.fl-row {flex-direction: row}
.wrap { flex-wrap: wrap; }
.align-center { align-items: center; }
.w-100 { width: 100%; }
.p-0 { padding: 0; }
.m-0 { margin: 0; }
.fl-grow{ flex-grow: 1 }

h1, p, a{ font-family: arial; }

header{ width: 100%; }
header div{ padding: 15px; }
header div:first-child{ background: lime; }
header div:last-child{ background: green; }
header h1{ font-size: 45px; }
nav a{
	color: white;
	text-decoration: none;
	background: #00256e;
	padding: 5px 45px 5px 45px;
	margin: 50px;
	font-size: 25px;
	border-radius: 15px;
	transition: 0.3s;
}
header nav a:hover, .active{
	background: #b8feff;
	color: black;
}

header nav a:hover{
	padding: 10px 30px 10px 30px;
}

.subtitle{ font-size: 24px; }

main{
	width: 100%;
	height: 100%;
	padding: 15px;
	background: #303030;
}

/*section{ width: 100%; height: 480px; padding-bottom: 15px;}*/
main div{
	width: 100%;
}

main div a{
	border: 5px solid #242424;
	width: 350px;
	height: 450px;
	margin: 73px;
	transition: 0.3s;
}

main div a img{
	width: 100%;
}

main div a:hover{
	transform: scale(1.2);
}